div.room {
  position: absolute;
  overflow-y: auto;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
}

div.room h1 {
  display: block;
  width: 92%;
  font-weight: normal;
  color: hsl(210, 100%, 50%);
  border-bottom: 1px solid hsl(210, 100%, 50%);
  padding-bottom: 10px;
  margin: 10px auto 10px;
  text-align: center;
}

div.room h2 {
  display: block;
  width: 92%;
  font-weight: normal;
  font-size: 20px;
  color: rgb(134, 134, 146);
  margin: 10px auto 5px;
}

div.room .exit {
  display: inline;
  border-radius: 6px;
  padding: 3px 8px;
  border: 1px solid hsl(0, 100%, 73%);
  background-color: white;
  color: hsl(0, 100%, 73%);
  margin-left: 4%;
}

div.room .manifest-buttons button {
  display: block;
  width: 94%;
  font-size: 19px;
  margin: 0 auto 20px;
  background-color: rgba(0,0,0,.0);
  border: 1px solid hsl(210, 100%, 50%);
  border-radius: 6px;
  color: rgb(80, 80, 88);
  color: hsl(210, 100%, 50%);
  padding: 4px;
  /*box-shadow: 0 10px 6px -7px rgba(0,0,0,.3);*/
}

div.room .manifest-buttons .vote {
  color: hsl(0, 0%, 85%);
  border: 1px solid hsl(210, 0%, 85%);
}

div.room .manifest-buttons .vote.votable {
  color: hsl(210, 100%, 50%);
  border: 1px solid hsl(210, 100%, 50%);
}

/**
*
*/

div.create-manifest {
  position: absolute;
  overflow-y: auto;
  width: 100%; height: 100%;
  top: 0;
  left: 100%;
  background-color: hsl(0, 0%, 100%);
  transition: left 0.4s;
}

div.create-manifest.creating {
  left: 0%;
}

div.create-manifest h1 {
  display: block;
  width: 92%;
  font-weight: normal;
  color: hsl(210, 100%, 50%);
  border-bottom: 1px solid hsl(210, 100%, 50%);
  padding-bottom: 10px;
  margin: 10px auto 20px;
  text-align: center;
}

div.create-manifest .name {
  width: 92%;
  margin: 0 auto 2px;
  font-size: 20px;
}

div.create-manifest label {
  display: block;
  width: 92%;
  margin: 0 auto 2px;
  font-size: 20px;
}

div.create-manifest .manifest-title {
  display: block;
  width: 92%;
  margin: 0 auto 15px;
  border: 1px solid gray;
  font-size: 20px;
}

div.create-manifest textarea {
  display: block;
  width: 90%;
  height: 40%;
  margin: 0 auto 20px;
  resize: none;
}

div.create-manifest .buttons {
  display: table;
  width: 92%;
  margin: 0 auto;
}

div.create-manifest .buttons input {
  display: table-cell;
  padding: 4px 24px;
  margin: 0 auto 0;
  font-size: 22px;
  border-radius: 6px;
}

div.create-manifest input[type=submit] {
  border: 1px solid hsl(210, 100%, 50%);
  background-color: hsl(210, 100%, 50%);
  color: white;
  margin-right: 10px;
}

div.create-manifest input.cancel {
  border: 1px solid hsl(0, 0%, 71%);
  background-color: hsl(0, 0%, 71%);
  color: white;
}

/**
*
*/

div.view-manifests {
  position: absolute;
  overflow-y: auto;
  width: 100%; height: 100%;
  top: 0;
  left: 100%;
  background-color: hsl(0, 0%, 100%);
  transition: left 0.4s;
}

div.view-manifests.viewing {
  left: 0%;
}

div.view-manifests button.back {
  border-radius: 6px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(210, 100%, 50%);
  font-size: 20px;
  margin: 10px 4%;
  padding: 1px 4px;
  color: hsl(210, 100%, 50%);
}

div.view-manifests button.back::before {
  content: '＜';
}

div.view-manifests h1 {
  display: block;
  width: 92%;
  font-weight: normal;
  color: hsl(210, 100%, 50%);
  border-bottom: 1px solid hsl(210, 100%, 50%);
  padding-bottom: 10px;
  margin: 10px auto 20px;
  text-align: center;
}

div.view-manifests ul {
  width: 92%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

div.view-manifests ul li {
  padding: 4px;
  font-size: 20px;
  border-bottom: 1px dotted gray;
}

div.view-manifests ul li:hover {
  background-color: hsl(210, 100%, 72%);
}

div.view-manifests ul li p {
  color: rgb(80, 80, 88);
}

/**
*
*/

div.manifest {
  position: absolute;
  overflow-y: auto;
  width: 100%; height: 100%;
  top: 0;
  left: 100%;
  background-color: hsl(0, 0%, 100%);
  transition: left 0.4s;
}

div.manifest.selected {
  left: 0%;
}

div.manifest h1 {
  display: block;
  width: 92%;
  font-weight: normal;
  color: hsl(210, 100%, 50%);
  border-bottom: 1px solid hsl(210, 100%, 50%);
  padding-bottom: 10px;
  margin: 10px auto 20px;
  text-align: center;
}

div.manifest button.back {
  border-radius: 6px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(210, 100%, 50%);
  font-size: 20px;
  margin: 10px 4%;
  padding: 1px 4px;
  color: hsl(210, 100%, 50%);
}

div.manifest button.back::before {
  content: '＜';
}

div.manifest .manifest-title {
  display: block;
  font-weight: bold;
  width: 92%;
  color: rgb(80, 80, 88);
  padding: 6px;
  margin: 0 auto;
  font-size: 22px;
}

div.manifest .manifest-body {
  font-size: 18px;
  color: rgb(80, 80, 88);
  line-height: 28px;
  width: 92%;
  margin: 0 auto;
  padding: 6px;
}

/**
*
*/

div.polling {
  position: absolute;
  overflow-y: auto;
  width: 100%; height: 100%;
  top: 0;
  left: 100%;
  background-color: hsl(0, 0%, 100%);
  transition: left 0.4s;
}

div.polling.voting {
  left: 0%;
}

div.polling button.back {
  border-radius: 6px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(210, 100%, 50%);
  font-size: 20px;
  margin: 10px 4%;
  padding: 1px 4px;
  color: hsl(210, 100%, 50%);
}

div.polling button.back::before {
  content: '＜';
}

div.polling h1 {
  display: block;
  width: 92%;
  font-weight: normal;
  color: hsl(210, 100%, 50%);
  border-bottom: 1px solid hsl(210, 100%, 50%);
  padding-bottom: 10px;
  margin: 10px auto 20px;
  text-align: center;
}

div.polling ul {
  width: 92%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

div.polling ul li {
  padding: 4px;
  font-size: 20px;
  border-bottom: 1px dotted gray;
}

div.polling ul li:hover {
  background-color: hsl(210, 100%, 72%);
}